Package: fn-qtquick-env
Version: 0.1-1
Architecture: amd64
Maintainer: Attila Csipa <attila.csipa@nokia.com>
Installed-Size: 60
Depends: qt-components-dev, libqtm-dev, libmeegotouch-dev, qt4-47-qmlviewer
Section: libs
Priority: extra
Homepage: http://forum.nokia.com
Description: Set up a Qt Quick development environment
 A metapackage with a little extra spice to install everything needed
 to set up a Qt Quick development environment on Ubuntu
